@charset "UTF-8";

header, main, footer {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  height:75px;
}

.header-logo {
  line-height: 75px;
}

.header-logo a {
  background-color: #333;
  color: #fff;
  padding: 3px 15px;
  font-size: 24px;
}

.header-right__list {
  list-style-type: none;
  display: flex;
  font-size: 14px;
  line-height: 55px;
}

.header-right__item {
  padding: 10px;
}

.header-right__item a {
  text-decoration: none;
  color: #000;
}

/*keyvisual*/
.keyvisual {
  width: 100%;
}

.keyvisual img{
  width: 100%;
}

/*about*/
.about {
  padding: 80px 0px;
}

.about-title {
  text-align: center;
  font-size: 32px;
  border-bottom: solid 1px #000;
  width: 100px;
  margin: 0px auto;
  font-weight: bold;
}

.about-content {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.about-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("https://placehold.jp/3d4070/ffffff/100x100.png");
  margin-right: 30px;
}

.about-text {
  width: 350px;
}

.about-text__title {
  font-weight: bold;
  padding: 5px;
}

.about-text__desc {
  font-size: 14px;
  padding: 5px;
  line-height: 20px;
}

/*bicycle*/
.bicycle {
  padding: 50px 0px 80px 0px;
}

.bicycle-title {
  text-align: center;
  font-size: 32px;
  border-bottom: solid 1px #000;
  width: 100px;
  margin: 0px auto;
  font-weight: bold;
}

.bicycle-boxs {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.bicycle-box__item {
  margin-right: 10px;
}

.bicycle-box__item img {
  width: 100%;
}

.bicycle-box__item:last-child {
  margin-right: 0px;
}

.bycycle-box__item__title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px
}

.bycycle-box__item__text {
  margin-top: 15px
}

/*footer*/
footer {
  padding-top: 50px;
  text-align: center;
}

small {
  font-size: 10px;
  color: #777;
  padding: 10px;
}

@media screen and (max-width: 600px) {

  .about-content {
    display: block;
    margin: 0 70px;
  }

  .about-img {
    margin: 0 auto;
    margin-top: 50px;
  }


  .bicycle-boxs {
    display: block;
  }

  .bicycle-box__item {
    margin-top: 30px;
    margin-right: 0;
  }
  
  .bicycle-box__item img {
    width: 100%;
  }
  
  .bycycle-box__item__title {
    margin-top: 10px;
  }
  
  .bycycle-box__item__text {
    margin-top: 10px;
  }
}