@charset "UTF-8";
body {
  font-family: sans-serif;
  background :#eee;
}

.inner {
  max-width: 1050px;
  margin: 0 auto;
}

header {
  background :#eee;
  height: 80px;
}

.header-left {
  display: flex;
  height: 80px;
}

h1 {
  font-size: 2.2rem;
  padding: 25px;
  letter-spacing: 0.5rem;
}

.header-left_ul {
  display: flex;
  padding: 20px;
}

.header-left_ul li {
  padding: 13px;
  font-size: 0.9rem;
}

.header-right {
  position: absolute;
  top: 0;
  right: 35px;
  width: 150px;
  height: 80px;
  background-color: #222;
  font-size: 12px;
  text-align: center;
}

.header-right a {
  color: #fff;
  line-height: 80px;
}

.keyvisual {
  background-image: url("https://placehold.jp/1500x1200.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.title h2 {
  font-size: 2.2rem;
  letter-spacing: 0.5rem;
}

.title p {
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 30px;
}

.title:after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #000;
}

.news {
  padding: 100px 0px;
}

.news > .inner {
  padding: 0 20px;
}

.news-content {
  margin: 50px 0;
  display: flex;
}

.news-content_box:not(:first-child) {
  border-left: solid 1px #000;
}

.news-content_day {
  font-size: 0.9rem;
  padding: 15px 20px;
  margin-right: 50px;
}

.news-content_box:first-child > .news-content_day {
  padding-left: 0px;
}

.news-content_day span {
  margin-left: 20px;
  background: #000;
  color: #fff;
  padding: 0.5px 5px;
  box-sizing: border-box;
}

.news-content_day p {
  margin-top: 20px;
}

.about {
  display: flex;
}

.about-left {
  width: 60%;
}

.about-left img {
  width: 100%;
  height: 400px;
}

.about-right {
  padding: 180px 60px 0px 60px;
  width: 40%;
}

.about-desc {
  margin-top: 40px;
}

.about-right p {
  font-size: 0.9rem;
  line-height: 2rem;
}

.business {
  padding: 100px 0px;
}

.business > .inner {
  padding: 0 20px;
}

.business-content {
  margin: 50px 0;
  display: flex;
}

ul.business-content_ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 80px;
  justify-content: space-around;
}

li.business-content_li {
  width: 45%;
  height: 45%;
}

li.business-content_li h3 {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 0.9rem;
}

li.business-content_li img {
  width: 100%;
}

li.business-content_li:first-child {
  margin-top: 100px;
  margin-bottom: 20px;
}

li.business-content_li:last-child {
  margin-top: -80px;
}

.company {
  overflow: hidden;
  padding-bottom: 120px;
}

.company-left {
  float: left;
  background: #fff;
  width: 50%;
  padding: 100px 50px;
}

.company-content {
  margin-top: 50px;
  font-size: 0.9rem;
}

.company-content dt {
  font-weight: normal;
  display: inline-block;
  width: 15%;
  padding: 8px 0;
}

.company-content dd {
  display: inline-block;
  width: 80%;
  padding: 8px 0;
}

.company-right {
  float: left;
  margin-top: 120px;
  margin-left: -100px;
}

footer {
  padding: 50px 0 20px 0;
  background-color: #fff;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 2.2rem;
  letter-spacing: 0.5rem;
  margin: 20px 0 80px 0;
}

.copy {
  font-size: 0.5rem;
}

.footer-right {
  font-size: 0.9rem;
  margin-right: 100px;
  line-height: 1.2rem;
}

.copy {
  font-size: 0.75rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .header-left {
    display: block;
  }

  h1 {
    font-size: 1.7rem;
    padding: 15px 0 0 15px;
  }

  .header-left_ul {
    padding: 0;
  }

  .header-left_ul li {
    padding: 5px 10px 0 15px;
  }

  .header-right {
    display: none;
  }

  .news {
    padding: 75px 15px 65px 0px;
  }

  .news-content {
    margin: 20px 0 15px 0;
    display: block;
  }

  .news-content_box:not(:first-child) {
    border-left: none;
  }

  .news-content_day {
    padding: 20px 0px;
    margin-right: 0px;
  }

  .news-content_day span {
    font-size: 0.8rem;
    margin-left: 10px;
    padding: 0px 5px;
  }

  .about {
    display: block;
  }

  .about-left {
    width: 100%;
  }

  .about-left img {
    width: 100%;
    height: 300px;
  }

  .about-right {
    padding: 20px 20px 0px 25px;
    width: 100%;
  }

  .about-right p {
    margin: 0 0 15px 0
  }

  .about-desc {
    margin-top: 30px;
  }

  .about-desc p {
    margin-bottom: 0px;
  }

  .business {
    padding: 70px 15px 20px 0px;
  }

  .business-content {
    display: block;
    margin-top: 40px;
  }

  li.business-content_li:first-child {
    margin-top: 0px;
  }

  ul.business-content_ul {
    display: block;
    padding-left: 0px;
  }

  li.business-content_li {
    width: 100%;
    margin: 0px;
    text-align: center;
    height: auto;
  }

  li.business-content_li img {
    width: 95%;
  }

  li.business-content_li:not(:first-child) {
    margin-top: 30px;
  }

  li.business-content_li h3 {
    text-align-last: left;
  }

  .business-content_li img {
    width: 80%;
  }

  .company {
    padding-bottom: 0;
  }

  .company-left {
    float: none;
    background: #fff;
    width: 95%;
    padding: 40px 20px;
    margin: 0 auto;
  }

  .company-content dt {
    display: block;
  }

  .company-content dd {
    display: block;
  }
  .company-right {
    float: none;
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
  }

  .company-right img {
    width: 95%;
  }

  footer {
    padding: 20px 0 20px 15px;
    background-color: #fff;
    margin-top: 0px;
  }

  .footer-inner {
    display: block;
  }

  .footer-title {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    margin: 20px 0 0 0;
  }

  .footer-right {
    margin-right: 0px;
    margin-bottom: 40px;
  }


}